* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, sans-serif;
}

header, main {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Headings and paragraph*/
h1 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.09em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: right;
}

h2, label {
  font-weight: 400;
  letter-spacing: 0.6em;
  color: #FFD029;
  text-align: end;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 170%;
  color: #ffffff;
}

/*Buttons*/
.btn {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #FFD029;
  box-shadow: 1px 1px 15px 5px #FFD029, -1px -1px 15px 5px #ffd129, 
  3px 3px 15px 5px #816913, -3px -3px 15px 5px #816913;
  transition: all .5s ease;
  align-self: center;
}

.btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFD029;
  letter-spacing: 0.6em;
  font-weight: 700;
  transition: all .5s ease;
}

.btn:hover {
  background-color: rgba(255, 208, 41, 0.75);
  transform: scale(1.1);
  border-color: #190B22;
}

.btn:hover a {
  color: rgba(25, 11, 34, 0.8)
}

button:disabled {
  opacity: 0.5;
}

/*Prev and next btns*/
.next, .prev {
  display: none;
  background-color: transparent;
  z-index: 100;
  border-bottom: 6px solid #FFD029;
  border-left: 6px solid #FFD029;
  border-top: none;
  border-right: none;
  width: 20px;
  height: 20px;
}

.prev {
  transform: rotate(45deg);
}

.next {
  transform: rotate(-135deg);
}

/*Close btn*/
.exit {
  color: white;
  font-size: 32px;
  text-align: end;
}

/*Header*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  min-height: 80vh;
  background-image: url("../img/background.jpg");;
}

.header__heading h1, 
.header__heading h2 {
  backdrop-filter:brightness(0.5);
  padding: 1rem;
  margin-top: 1rem;
}

header .search, header .back {
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
}

header .search label, 
header .search input {
  width: 350px;
  backdrop-filter:brightness(0.25);
  padding: 0.75rem;
  text-align: center;
}

/*Main*/
main {
  background-image: url("../img/stars-1845140.jpg");
}

/*Planet imgs in main*/
.planets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: .5rem;
  max-width: 100%;
  width:100%
}

.planets figure img {
  width: 100%;
}
.planet_sun img {
  max-width: 1278px;
}
.planet_mercury img, 
.planet_mars img {
  max-width: 14px;
}
.planet_venus img {
  max-width: 26px;
}
.planet_earth img {
  max-width: 28px;
}
.planet_jupiter img {
  max-width: 188px;
}
.planet_saturn img {
  max-width: 150px;
}
.planet_uranus img,
.planet_neptun img {
  max-width: 66px;
}

.planets figure img:hover {
  animation: bounce .5s ease-in-out infinite alternate
}

/*Footer*/
footer {
  background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
  text-align: center;
  padding: 3rem
}

/*Info modules*/
.showSearch {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  width: 100%;
  min-height: 400px;
  z-index: 100;
  background-color: #0C164D;
  padding: 1rem;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.5), 
  -10px -10px 15px 10px rgba(0, 0, 0, 0.5);
  animation: zoomIn .5s ease forwards;
}

.showSearch div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

/*Info module - search*/
.display__results {
  display: none;
  background-color: transparent;
  max-width: 90%;
  width: 100%;
  margin: auto;
  margin-bottom: -10rem;
  align-items: center;
  justify-content: center;
}

.results {
  display: flex;
  max-width: 550px;
  width: 100%;
  margin: auto;
}

/*Info module - clickable*/
.show {
  display: flex;
  position: absolute;
  left: 1rem;
  right:1rem;
  top: 90vh;
}



/*Styling for planet.html*/
.planet_info {
  max-width: 850px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 3rem auto;
  padding: 1rem
}

.planet_info h1, .planet_info h2 {
  backdrop-filter: none;
  padding: 1rem 0
}

.planet_info p {
  padding-bottom: 1rem;
}

.info_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.info_box div {
  max-width: 100%;
  width: 100%
}

.info_box h3 {
  padding-top: 1rem;
}

.info_box p {
  letter-spacing: 0.16em;
}

.planet_info .moons {
  padding: 2rem 0;
  text-align: center;
}

.planet_info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #FFFFFF;
  list-style-type: none;
}

.planet_info ul li {
  margin: 1rem;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  100% {
    transform: 
    scale(1.5);
  }
  
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
  
}

@media screen and (min-width: 600px) {
  .info_box div {
    max-width: 50%;
  }

  h1 {
    font-size: 60px;
  }

  .show {
    max-width: 500px;
  }
  .display__results {
    max-width: 580px;
  }
  .planets {
    padding-right: 1rem;
}
.next, .prev {
  width: 30px;
  height: 30px;
}
}